<!doctype html>
<html lang="en">

<head>
    <title>App1 Digital Platform</title>
    <meta name="title" content="App1 Digital Platform">
    <meta content="App1 Digital Platform" property="og:title">
    <meta name="description" content="Cloud platform allowing to build applications only with a browser, no development required. Data can be shared securely between companies, also public forms can be created, file attachements, calendars, etc.">
    <meta name="keywords" content="cloud, applications, online forms, mobile, business process, digital">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="/stylesheets/style.min.css" />
    <link rel="stylesheet" href="/stylesheets/angularjs-material-carousel.min.css" />
</head>

<body ng-app="home" ng-cloak md-theme="{{sessionData.userData.properties.theme}}" ng-controller="HomeCtrl">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

    <script defer src="/javascripts/angularjs-material-carousel.min.js"></script>

    <script src="index.js"></script>
    <script defer src="welcome.js"></script>
    <script defer src="register.js"></script>
    <script defer src="translation.js"></script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-100961550-1', 'auto');
        ga('send', 'pageview');

    </script>

    <md-toolbar md-scroll-shrink md-colors="{'background': 'primary-50', 'color': 'primary-800'}" style="position: fixed">
        <div class="md-toolbar-tools">
            <a href="/app/#!login"><img style="height:40px" src="/favicon.ico"></a>
            <md-button layout-padding class="md-no-focus" aria-label="App1" ng-href="/app/#!login">
                {{sessionData.applicationName}}
            </md-button>
            <span flex></span>
            <md-button hide-sm hide-xs layout-padding class="md-no-focus" aria-label="Platform" ng-href="#platform">
                {{sessionData.appData.homepage_platform}}
            </md-button>
            <md-button hide-sm hide-xs layout-padding class="md-no-focus" aria-label="Products" ng-href="#products">
                {{sessionData.appData.homepage_products}}
            </md-button>
            <md-button hide-sm hide-xs layout-padding class="md-no-focus" aria-label="Services" ng-href="#services">
                {{sessionData.appData.homepage_services}}
            </md-button>
            <md-button hide-sm hide-xs layout-padding class="md-no-focus" aria-label="Services" ng-href="#pricing">
                {{sessionData.appData.homepage_pricing}}
            </md-button>
            <md-button hide-sm hide-xs layout-padding class="md-no-focus" aria-label="Register" ng-href="#!register">
                {{sessionData.appData.register}}
            </md-button>
            <md-button hide-sm hide-xs layout-padding class="md-no-focus" aria-label="Contact" ng-href="/authentication/open?pid=5a9c2e7864916446b1fc6857">
                {{sessionData.appData.homepage_contact}}
            </md-button>
            <md-button hide-gt-sm class="md-icon-button" aria-label="Links" ng-click="toggleRight()">
                <md-icon>menu</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-sidenav class="md-sidenav-right" md-component-id="right" md-whiteframe="4">
        <md-content layout-padding layout="column">
            <md-button layout-padding style="text-align: left" class="md-no-focus" aria-label="Platform" ng-href="#platform" ng-click="closeRight()">
                {{sessionData.appData.homepage_platform}}
            </md-button>
            <md-button layout-padding style="text-align: left" class="md-no-focus" aria-label="Products" ng-href="#products" ng-click="closeRight()">
                {{sessionData.appData.homepage_products}}
            </md-button>
            <md-button layout-padding style="text-align: left" class="md-no-focus" aria-label="Services" ng-href="#services" ng-click="closeRight()">
                {{sessionData.appData.homepage_services}}
            </md-button>
            <md-button layout-padding style="text-align: left" class="md-no-focus" aria-label="Services" ng-href="#pricing" ng-click="closeRight()">
                {{sessionData.appData.homepage_pricing}}
            </md-button>
            <md-button layout-padding style="text-align: left" class="md-no-focus" aria-label="Register" ng-href="#!register" ng-click="closeRight()">
                {{sessionData.appData.register}}
            </md-button>
            <md-button layout-padding style="text-align: left" class="md-no-focus" aria-label="Contact" ng-href="/authentication/open?pid=5a9c2e7864916446b1fc6857" ng-click="closeRight()">
                {{sessionData.appData.homepage_contact}}
            </md-button>
        </md-content>
    </md-sidenav>

    <md-content flex ng-view style="top:50px"></md-content>
</body>

</html>
