<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body ng-app="app1_admin" ng-cloak>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

    <script src="index_admin.js"></script>
    <script type="text/ng-template" id="welcome.html">
        <p>Welcome to the administration tool!</p>
    </script>
    <script type="text/ng-template" id="datamodels.html">
        <h1>Data Models</h1>
        <div>
            Search:
            <input type="text" ng-model="search.name">
            <ul>
                <li ng-repeat="datamodel in datamodels | filter: search">
                    <a href="#datamodels/{{datamodel._id}}">{{datamodel.name.en}}</a>
                    <button ng-click="remove($index)">remove</button>
                </li>
            </ul>
            New datamodel
            <input type="text" ng-model="newDataModel">
            <button ng-click="save()">Create</button>
        </div>
    </script>
    <script type="text/ng-template" id="datamodelDetails.html">
        <h1>Data Model: {{datamodel.name.en}}</h1>
        <p>Name:
            <br>
            <textarea json-text ng-model="datamodel.name" rows="3" cols="60"></textarea>
        </p>
        <p>Id: {{datamodel._id}}</p>
        <p>Datamodel:
            <br>
            <textarea ng-model="datamodel.datamodel" rows="6" cols="60"></textarea>
        </p>
        <p>Translation:
            <br>
            <textarea json-text ng-model="datamodel.translation" rows="6" cols="60"></textarea>
        </p>
        <button ng-click="update()">update</button>
        <a href="/admin#/datamodels">Cancel</a>
    </script>
    <script type="text/ng-template" id="forms.html">
        <h1>Forms</h1>
        <div>
            Search:
            <input type="text" ng-model="search.name">
            <ul>
                <li ng-repeat="form in forms | filter: search">
                    <a href="#forms/{{form._id}}">{{form.name.en}}</a>
                    <button ng-click="remove($index)">remove</button>
                </li>
            </ul>
            New form
            <input type="text" ng-model="newForm">
            <button ng-click="save()">Create</button>
        </div>
    </script>
    <script type="text/ng-template" id="formDetails.html">
        <h1>Form: {{form.name.en}}</h1>
        <p>Name:
            <br>
            <textarea json-text ng-model="form.name" rows="3" cols="60"></textarea>
        </p>
        <p>Id: {{form._id}}</p>
        <p>DataModel:
            <input type="text" ea ng-model="form.datamodel">
        </p>
        <p>Display:
            <br>
            <textarea json-text ng-model="form.display" rows="10" cols="60"></textarea>
        </p>
        <p>Search criteria:
            <br>
            <textarea ng-model="form.search_criteria" rows="2" cols="60" title="Possible operators are&#13;$eq	Matches values that are equal to a specified value.&#13;$gt	Matches values that are greater than a specified value.&#13;$gte	Matches values that are greater than or equal to a specified value.&#13;$lt	Matches values that are less than a specified value.&#13;$lte	Matches values that are less than or equal to a specified value.&#13;$ne	Matches all values that are not equal to a specified value.&#13;$in	Matches any of the values specified in an array.&#13;$nin Matches none of the values specified in an array."></textarea>
        </p>
        <p>Sort by:
            <br>
            <textarea ng-model="form.sort_by" rows="2" cols="60" title="Possible operators are&#13;$eq	Matches values that are equal to a specified value.&#13;$gt	Matches values that are greater than a specified value.&#13;$gte	Matches values that are greater than or equal to a specified value.&#13;$lt	Matches values that are less than a specified value.&#13;$lte	Matches values that are less than or equal to a specified value.&#13;$ne	Matches all values that are not equal to a specified value.&#13;$in	Matches any of the values specified in an array.&#13;$nin Matches none of the values specified in an array."></textarea>
        </p>
        <p>Actions:
            <br>
            <textarea json-text ng-model="form.actions" rows="10" cols="60"></textarea>
        </p>
        <p>Values:
            <br>
            <textarea json-text ng-model="form.values" rows="3" cols="60"></textarea>
        </p>
        <button ng-click="update()">update</button>
        <a href="/admin#/forms">Cancel</a>
    </script>
    <script type="text/ng-template" id="values.html">
        <h1>Values</h1>
        <div>
            Search:
            <input type="text" ng-model="search.name">
            <ul>
                <li ng-repeat="value in values | filter: search">
                    <a href="#values/{{value._id}}">{{value.name.en}}</a>
                    <button ng-click="remove($index)">remove</button>
                </li>
            </ul>
            New value
            <input type="text" ng-model="newValue">
            <button ng-click="save()">Create</button>
        </div>
    </script>
    <script type="text/ng-template" id="valueDetails.html">
        <h1>Value: {{value.name.en}}</h1>
        <p>Name:
            <br>
            <textarea json-text ng-model="value.name" rows="3" cols="60"></textarea>
        </p>
        <p>Id: {{value._id}}</p>
        <p>Type:
            <select ng-model="value.type">
                <option value="list">Simple list</option>
                <option value="user">User list</option>
                <option value="query">Query data</option>
            </select>
        </p>
        <p>Values:
            <br>
            <textarea json-text ng-model="value.values" rows="6" cols="60"></textarea>
        </p>
        <button ng-click="update()">update</button>
        <a href="/admin#/values">Cancel</a>
    </script>
    <script type="text/ng-template" id="users.html">
        <h1>Users</h1>
        <div>
            Search:
            <input type="text" ng-model="search.name">
            <ul>
                <li ng-repeat="user in users | filter: search">
                    <a href="#users/{{user._id}}">{{user.user}}</a>
                    <button ng-click="remove($index)">remove</button>
                </li>
            </ul>
            New user
            <input type="text" ng-model="newUser">
            <button ng-click="save()">Create</button>
        </div>
    </script>
    <script type="text/ng-template" id="userDetails.html">
        <h1>User: {{user.user}}</h1>
        <p>User:
            <input type="text" ng-model="user.user">
        </p>
        <p>Id: {{user._id}}</p>
        <p>Password:
            <input type="text" ng-model="user.password">
        </p>
        <p>Company code:
            <input type="text" ng-model="user._company_code">
        </p>
        <p>Email:
            <input type="text" ng-model="user.email">
        </p>
        <p>First name:
            <input type="text" ng-model="user.firstname">
        </p>
        <p>Last name:
            <input type="text" ng-model="user.lastname">
        </p>
        <p>Properties:
            <br>
            <textarea json-text ng-model="user.properties" rows="3" cols="60"></textarea>
        </p>
        <p>Validated:
            <input json-text type="text" ng-model="user.validated">
        </p>
        <p>Profile:
            <input type="text" ng-model="user.profile">
        </p>
        <p>Remote profiles:
            <br>
            <textarea json-text ng-model="user.remote_profiles" rows="3" cols="60"></textarea>
        </p>
        <p>Company:
            <input type="text" ng-model="user.company">
        </p>
        <p>Manager:
            <br>
            <textarea json-text ng-model="user.manager" rows="3" cols="60"></textarea>
        </p>
        <p>Reports:
            <br>
            <textarea json-text ng-model="user.reports" rows="3" cols="60"></textarea>
        </p>
        <button ng-click="update()">update</button>
        <a href="/admin#/users">Cancel</a>
    </script>
    <script type="text/ng-template" id="files.html">
        <h1>Files</h1>
        <div>
            Search:
            <input type="text" ng-model="search.name">
            <ul>
                <li ng-repeat="file in files | filter: search">
                    <a href="#files/{{file._id}}">{{file.name}}</a>
                    <button ng-click="remove($index)">remove</button>
                </li>
            </ul>
            New file
            <input type="text" ng-model="newFile">
            <button ng-click="save()">Create</button>
        </div>
    </script>
    <script type="text/ng-template" id="fileDetails.html">
        <h1>File: {{file.file.name}}</h1>
        <p>Name:
            <input type="text" ng-model="file.file.name">
        </p>
        <p>Id: {{file.file._id}}</p>
        <p>Type:
            <input type="text" ng-model="file.file.type">
        </p>
        <button ng-click="update()">update</button>
        <a href="/admin#/files">Cancel</a>
    </script>
    <script type="text/ng-template" id="userprofiles.html">
        <h1>User Profiles</h1>
        <div>
            Search:
            <input type="text" ng-model="search.name">
            <ul>
                <li ng-repeat="userprofile in userprofiles | filter: search">
                    <a href="#userprofiles/{{userprofile._id}}">{{userprofile.name.en}}</a>
                    <button ng-click="remove($index)">remove</button>
                </li>
            </ul>
            New user profile
            <input type="text" ng-model="newUserProfile">
            <button ng-click="save()">Create</button>
        </div>
    </script>
    <script type="text/ng-template" id="userprofileDetails.html">
        <h1>User Profile: {{userprofile.name.en}}</h1>
        <p>Name:
            <br>
            <textarea json-text ng-model="userprofile.name" rows="3" cols="60"></textarea>
        </p>
        <p>Id: {{userprofile._id}}</p>
        <p>Type:
            <select ng-model="userprofile.type">
                <option value="administrator">Administrator</option>
                <option value="private">Private</option>
                <option value="public">Public</option>
                <option value="share">Share</option>
                <option value="application">Application</option>
            </select>
        </p>
        <p>Company code:
            <input type="text" ng-model="userprofile._company_code">
        </p>
        <p>Profile:
            <br>
            <textarea json-text ng-model="userprofile.profile" rows="3" cols="60"></textarea>
        </p>
        <p>Properties:
            <br>
            <textarea json-text ng-model="userprofile.properties" rows="3" cols="60"></textarea>
        </p>
        <button ng-click="update()">update</button>
        <a href="/admin#/userprofiles">Cancel</a>
    </script>
    <script type="text/ng-template" id="sessions.html">
        <h1>Sessions</h1>
        <div>
            Search:
            <input type="text" ng-model="search.name">
            <ul>
                <li ng-repeat="session in sessions | filter: search">
                    <a href="#sessions/{{session._id}}">{{session.user}}</a>
                    <button ng-click="remove($index)">remove</button>
                </li>
            </ul>
            New session
            <input type="text" ng-model="newSession">
            <button ng-click="save()">Create</button>
        </div>
    </script>
    <script type="text/ng-template" id="sessionDetails.html">
        <h1>Session: {{session.name.en}}</h1>
        <p>User:
            <br>
            <textarea json-text ng-model="session.user" rows="3" cols="60"></textarea>
        </p>
        <p>Id: {{session._id}}</p>
        <p>Timeout:
            <input type="text" ng-model="session.timeout">
        </p>
        <p>Properties:
            <br>
            <textarea json-text ng-model="session.properties" rows="6" cols="60"></textarea>
        </p>
        <button ng-click="update()">update</button>
        <a href="/admin#/session">Cancel</a>
    </script>
    <script type="text/ng-template" id="companies.html">
        <h1>Companies</h1>
        <div>
            Search:
            <input type="text" ng-model="search.name">
            <ul>
                <li ng-repeat="company in companies | filter: search">
                    <a href="#companies/{{company._id}}">{{company.name}}</a>
                    <button ng-click="remove($index)">remove</button>
                </li>
            </ul>
            New company
            <input type="text" ng-model="newCompany">
            <button ng-click="save()">Create</button>
        </div>
    </script>
    <script type="text/ng-template" id="companyDetails.html">
        <h1>Company: {{company.name}}</h1>
        <p>Name:
            <input type="text" ng-model="company.name">
        </p>
        <p>Id: {{company._id}}</p>
        <p>Code: {{company._company_code}}</p>
        <p>Applications:
            <br>
            <textarea json-text ng-model="company.applications" rows="10" cols="60"></textarea>
        </p>
        <p>Properties:
            <br>
            <textarea json-text ng-model="company.properties" rows="10" cols="60"></textarea>
        </p>
        <button ng-click="update()">update</button>
        <a href="/admin#/companies">Cancel</a>
    </script>
    <script type="text/ng-template" id="workflows.html">
        <h1>Workflows</h1>
        <div>
            Search:
            <input type="text" ng-model="search.name">
            <ul>
                <li ng-repeat="workflow in workflows | filter: search">
                    <a href="#workflows/{{workflow._id}}">{{workflow.name.en}}</a>
                    <button ng-click="remove($index)">remove</button>
                </li>
            </ul>
            New workflow
            <input type="text" ng-model="newWorkflow">
            <button ng-click="save()">Create</button>
        </div>
    </script>
    <script type="text/ng-template" id="workflowDetails.html">
        <h1>Workflow: {{workflow.name.en}}</h1>
        <p>Name:
            <br>
            <textarea json-text ng-model="workflow.name" rows="3" cols="60"></textarea>
        </p>
        <p>Id: {{workflow._id}}</p>
        <p>Description:
            <br>
            <textarea json-text ng-model="workflow.description" rows="6" cols="60"></textarea>
        </p>
        <p>Icon:
            <input type="text" ng-model="workflow.icon">
        </p>
        <p>Startup form id:
            <input type="text" ng-model="workflow.startup_form">
        </p>
        <p>Forms:
            <br>
            <textarea json-text ng-model="workflow.forms" rows="10" cols="60"></textarea>
        </p>
        <button ng-click="update()">update</button>
        <a href="/admin#/workflows">Cancel</a>
    </script>
    <script type="text/ng-template" id="applications.html">
        <h1>Applications</h1>
        <div>
            Search:
            <input type="text" ng-model="search.name">
            <ul>
                <li ng-repeat="application in applications | filter: search">
                    <a href="#applications/{{application._id}}">{{application.name.en}}</a>
                    <button ng-click="remove($index)">remove</button>
                </li>
            </ul>
            New application
            <input type="text" ng-model="newApplication">
            <button ng-click="save()">Create</button>
        </div>
    </script>
    <script type="text/ng-template" id="applicationDetails.html">
        <h1>Application: {{application.name.en}}</h1>
        <p>Name:
            <br>
            <textarea json-text ng-model="application.name" rows="3" cols="60"></textarea>
        </p>
        <p>Id: {{application._id}}</p>
        <p>Description:
            <br>
            <textarea json-text ng-model="application.description" rows="6" cols="60"></textarea>
        </p>
        <p>Icon:
            <input type="text" ng-model="application.icon">
        </p>
        <p>Activate:
            <input type="checkbox" ng-model="application.active">
        </p>
        <p>Workflows:
            <br>
            <textarea json-text ng-model="application.workflows" rows="10" cols="60"></textarea>
        </p>
        <p>Profiles:
            <br>
            <textarea json-text ng-model="application.profiles" rows="6" cols="60"></textarea>
        </p>
        <p>Default profile:
            <input type="text" ng-model="application.default_profile">
        </p>
        <button ng-click="update()">update</button>
        <a href="/admin#/applications">Cancel</a>
    </script>
    <script type="text/ng-template" id="update.html">
        <h1>Update has to be done only under ADMIN supervision!</h1>
        <p>Repository:
            <input type="text" ng-model="update.repository">
        </p>
        <button ng-click="update()">update</button>
        <p>Error:
            <br>
            <textarea ng-model="update.error" rows="3" cols="60"></textarea>
        </p>
        <p>Stdout:
            <br>
            <textarea ng-model="update.stdout" rows="3" cols="60"></textarea>
        </p>
        <p>Stderr:
            <br>
            <textarea ng-model="update.stderr" rows="3" cols="60"></textarea>
        </p>
        <a href="/admin">Cancel</a>
    </script>
    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools" ng-controller="AppCtrl">
            <md-button class="md-icon-button" aria-label="Administration" ng-click="toggleLeft()">
                <md-icon md-svg-icon="/icons/menu.svg"></md-icon>
            </md-button>
            <h2>
                <span>Administration Tool</span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools">Choose a page</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="LeftCtrl" layout="column">
            <md-button ng-href="#about" class="md-primary" style="text-align: left" ng-click="close()">About</md-button>
            <md-button ng-href="#datamodels" class="md-primary" style="text-align: left" ng-click="close()">Data Models</md-button>
            <md-button ng-href="#forms" class="md-primary" style="text-align: left" ng-click="close()">Forms</md-button>
            <md-button ng-href="#values" class="md-primary" style="text-align: left" ng-click="close()">Values</md-button>
            <md-button ng-href="#files" class="md-primary" style="text-align: left" ng-click="close()">Files</md-button>
            <md-button ng-href="#workflows" class="md-primary" style="text-align: left" ng-click="close()">Workflows</md-button>
            <md-button ng-href="#applications" class="md-primary" style="text-align: left" ng-click="close()">Applications</md-button>
            <md-button ng-href="#users" class="md-primary" style="text-align: left" ng-click="close()">Users</md-button>
            <md-button ng-href="#userprofiles" class="md-primary" style="text-align: left" ng-click="close()">User Profiles</md-button>
            <md-button ng-href="#sessions" class="md-primary" style="text-align: left" ng-click="close()">Sessions</md-button>
            <md-button ng-href="#companies" class="md-primary" style="text-align: left" ng-click="close()">Companies</md-button>
            <md-button ng-href="/" class="md-primary" style="text-align: left" ng-click="close()">Player</md-button>
            <md-button ng-href="#update" class="md-primary" style="text-align: left" ng-click="close()">Update</md-button>
        </md-content>
    </md-sidenav>
    <md-content flex layout-padding ng-view>
    </md-content>
</body>

</html>
