<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body ng-app="app1" ng-cloak md-theme="{{sessionData.userData.properties.theme}}" ng-controller="AppCtrl">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

    <script src="/javascripts/ng-infinite-scroll.min.js"></script>
    <script src="index.js"></script>
    <script src="core/login.js"></script>
    <script src="core/register.js"></script>
    <script src="core/user.js"></script>
    <script src="core/applications.js"></script>
    <script src="core/workflows.js"></script>
    <script src="core/forms.js"></script>
    <script src="core/translation.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnBYlR8autVBB3IcSOQ8H-ZgCPsvtLnGg"></script>

    <md-toolbar md-scroll-shrink class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
                <md-icon>menu</md-icon>
            </md-button>
            <h2>
                <span>{{sessionData.applicationName}}</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="User" ng-click="toggleRight()">
                <md-icon>person</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
        <md-content layout-padding layout="column">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">{{sessionData.appData.choose_app}}</h1>
            </md-toolbar>
            <md-button ng-if="sessionData.userData.title" ng-href="#applications" class="md-primary" style="text-align: left" ng-click="closeLeft()">{{sessionData.appData.home}}
            </md-button>
            <div ng-repeat="application in sessionData.applications">
                <md-button ng-href="#workflows/{{application._id}}" class="md-primary" style="text-align: left" ng-click="closeLeft()">{{application.translated_name}}
                </md-button>
            </div>
        </md-content>
    </md-sidenav>

    <md-sidenav class="md-sidenav-right" md-component-id="right" md-whiteframe="4">
        <md-content layout-padding layout="column">
            <md-toolbar ng-if="!sessionData.userData.title" class="md-theme-indigo">
                <h1 class="md-toolbar-tools">{{sessionData.appData.user}}</h1>
            </md-toolbar>
            <md-toolbar ng-if="sessionData.userData.title" class="md-theme-indigo">
                <h1 class="md-toolbar-tools">{{sessionData.userData.title}}</h1>
            </md-toolbar>
            <md-button ng-if="!sessionData.userData.title" ng-href="#login" class="md-primary" style="text-align: left" ng-click="closeRight()">{{sessionData.appData.login}}</md-button>
            <md-button ng-if="!sessionData.userData.title" ng-href="#register" class="md-primary" style="text-align: left" ng-click="closeRight()">{{sessionData.appData.register}}</md-button>
            <md-button ng-if="sessionData.userData.title && sessionData.userData.profile.type=='administrator'" ng-href="/admin" class="md-primary" style="text-align: left" ng-click="closeRight()">{{sessionData.appData.administration}}</md-button>
            <md-button ng-if="sessionData.userData.title && sessionData.userData.profile.type!='public'" ng-href="#user" class="md-primary" style="text-align: left" ng-click="closeRight()">{{sessionData.appData.user_settings}}</md-button>
            <md-button ng-if="sessionData.userData.title && sessionData.userData.profile.type=='public'" ng-href="" class="md-primary" style="text-align: left" ng-click="closeRight()">{{sessionData.appData.information}}</md-button>
            <md-button ng-if="sessionData.userData.title" ng-href="/" class="md-primary" style="text-align: left" ng-click="logout()">{{sessionData.appData.logout}}</md-button>
        </md-content>
    </md-sidenav>

    <md-content ng-view>
    </md-content>
</body>

</html>
