.amc-image-caption {
    width: 100%;
    text-align: center;
}

.amc-slider-wrapper {
    min-height: 100px;
}

.amc-slider-wrapper-single-tab {
    padding-bottom: 0px !important;
}

.amc-slider-tab-label {}

.amc-hide-tabs-header md-tabs-wrapper {
    display: none !important;
}
