/* fallback */


/*
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(/icons/MaterialIcons-Regular.woff) format('woff');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
*/

[draggable] {
    cursor: move;
}

.dash_line {
    border: 3px dashed #333;
}

.field_card {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.new_card {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.animate-text {
    color: #eceff1;
    font-family: "Roboto";
    font-size: 54px;
    font-weight: bold;
    margin: 20px 0 0 20px;
    white-space: nowrap;
    overflow: hidden;
    width: 12em;
    animation: type 4s steps(60, end);
    text-shadow: 3px 3px 5px #37474f;
}

.animate-text:nth-child(2) {
    animation: type2 8s steps(60, end);
}

@keyframes type {
    from {
        width: 0;
    }
}

@keyframes type2 {
    0% {
        width: 0;
    }
    50% {
        width: 0;
    }
    100% {
        width: 100;
    }
}

.slide {}

.slide.ng-enter {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.slide.ng-enter {
    left: 100%;
    top: 0;
}

.slide.ng-enter-active {
    left: 0;
    top: 0;
}

.fade {
    background-color: rgba(255, 255, 255, 0.85);
    opacity: 1;
}

.fade.ng-enter {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.fade.ng-enter {
    opacity: 0;
}

.fade.ng-enter-active {
    opacity: 1;
}

.default {
    background-image: url(/images/background/default.png);
    background-position: left;
}

.user1 {
    background-image: url(/images/background/user1.png);
    background-position: left;
}

.user2 {
    background-image: url(/images/background/user2.png);
    background-position: left;
}

.user3 {
    background-image: url(/images/background/user3.png);
    background-position: left;
}


/*.multi_bg_example {
  background-image: url(/images/background/linen.png), linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
  background-repeat: repeat, no-repeat;
  background-position: left, right;
  background: -moz-linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)), -webkit-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)), -ms-linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)), linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
}*/
