<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/angularjs-material-carousel.min.css" />
</head>

<body ng-app="app1" ng-cloak md-theme="{{sessionData.userData.properties.theme}}" ng-controller="AppCtrl" ng-class="sessionData.userData.properties.theme">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.8/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

    <script defer src="/javascripts/ng-infinite-scroll.min.js"></script>
    <script defer src="/javascripts/angularjs-material-carousel.min.js"></script>
    <script defer src="/javascripts/angular-material-calendar.min.js"></script>

    <script src="index.js"></script>
    <script defer src="core/login.js"></script>
    <script defer src="core/user.js"></script>
    <script defer src="core/company.js"></script>
    <script defer src="core/applications.js"></script>
    <script defer src="core/url.js"></script>
    <script defer src="core/file.js"></script>
    <script defer src="core/workflows.js"></script>
    <script defer src="core/forms.js"></script>
    <script defer src="core/translation.js"></script>
    <script defer src="designer/designer.js"></script>
    <script defer src="designer/text.js"></script>
    <script defer src="designer/application.js"></script>
    <script defer src="designer/applicationsecurity.js"></script>
    <script defer src="designer/applicationusers.js"></script>
    <script defer src="designer/workflow.js"></script>
    <script defer src="designer/form.js"></script>
    <script defer src="designer/share.js"></script>
    <script defer src="designer/display.js"></script>
    <script defer src="designer/action.js"></script>
    <script defer src="designer/value.js"></script>
    <script defer src="designer/newvalue.js"></script>
    <script defer src="datamodel/datamodel.js"></script>
    <script defer src="datamodel/datamodeledit.js"></script>
    <script defer src="datamodel/new.js"></script>
    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCQcYSqCUwxCMGROL9JNR9_8jypYNqH63o"></script>

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-100961550-1', 'auto');
        ga('send', 'pageview');

    </script>

    <md-toolbar md-scroll-shrink class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleLeft()">
                <md-icon>menu</md-icon>
            </md-button>
            <h2>
                <span>{{sessionData.applicationName}}</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Alert" ng-click="alertForm()" ng-if="sessionData.showAlertForm">
                <md-icon>share</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="User" ng-click="toggleRight()">
                <md-icon>person</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
        <md-content layout-padding layout="column">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">{{sessionData.appData.app_title}}</h1>
            </md-toolbar>
            <md-button ng-if="sessionData.userData.title" ng-href="#!applications" class="md-primary" style="text-align: left" ng-click="closeLeft()">{{sessionData.appData.home}}
            </md-button>
            <div ng-repeat="application in sessionData.applications">
                <md-button class="md-primary" style="text-align: left" ng-click="open(application)">{{application.translated_name}}
                </md-button>
            </div>
        </md-content>
    </md-sidenav>

    <md-sidenav class="md-sidenav-right" md-component-id="right" md-whiteframe="4">
        <md-content layout-padding layout="column">
            <md-toolbar ng-if="!sessionData.userData.title" class="md-theme-indigo">
                <h1 class="md-toolbar-tools">{{sessionData.appData.user}}</h1>
            </md-toolbar>
            <md-toolbar ng-if="sessionData.userData.title" class="md-theme-indigo">
                <h1 class="md-toolbar-tools">{{sessionData.userData.title}}</h1>
            </md-toolbar>
            <md-button ng-href="/" class="md-primary" style="text-align: left" ng-click="closeRight()">{{sessionData.appData.welcome}}</md-button>
            <md-button ng-if="!sessionData.userData.title" ng-href="#!login" class="md-primary" style="text-align: left" ng-click="closeRight()">{{sessionData.appData.login}}</md-button>
            <md-button ng-if="!sessionData.userData.title" ng-href="/#!register" class="md-primary" style="text-align: left" ng-click="closeRight()">{{sessionData.appData.register}}</md-button>
            <md-button ng-if="sessionData.userData.title && sessionData.userData.profile.type=='administrator'" ng-href="#!designer" class="md-primary" style="text-align: left" ng-click="closeRight()">{{sessionData.appData.app_designer}}</md-button>
            <md-button ng-if="sessionData.userData.title && sessionData.userData.profile.type=='administrator'" ng-href="#!datamodel" class="md-primary" style="text-align: left" ng-click="closeRight()">{{sessionData.appData.datamodel_designer}}</md-button>
            <md-button ng-if="sessionData.userData.title && sessionData.userData.profile.type=='administrator'" ng-href="#!company" class="md-primary" style="text-align: left" ng-click="closeRight()">{{sessionData.appData.company_settings}}</md-button>
            <md-button ng-if="sessionData.userData.title && sessionData.userData.profile.type!='public'" ng-href="#!user" class="md-primary" style="text-align: left" ng-click="closeRight()">{{sessionData.appData.user_settings}}</md-button>
            <md-button ng-if="sessionData.userData.title" ng-href="/" class="md-primary" style="text-align: left" ng-click="logout()">{{sessionData.appData.logout}}</md-button>
        </md-content>
    </md-sidenav>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="paypal">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="business" id="paypal_merchant_id">
        <input type="hidden" name="lc" value="FR" id="paypal_country">
        <input type="hidden" name="item_name" id="paypal_label">
        <input type="hidden" name="amount" id="paypal_amount">
        <input type="hidden" name="currency_code" id="paypal_currency">
        <input type="hidden" name="button_subtype" value="services">
        <input type="hidden" name="no_note" value="0">
        <input type="hidden" name="cn" value="Add special instructions to the seller:">
        <input type="hidden" name="no_shipping" value="2">
        <input type="hidden" name="rm" value="1">
        <input type="hidden" name="return" id="paypal_return">
        <input type="hidden" name="cancel_return" id="paypal_cancel_return">
        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted">
    </form>

    <md-content flex ng-view></md-content>
</body>

</html>
