<md-content flex="auto" ng-class="sessionData.userData.properties.theme">
    <div layout="row">
        <div hide-xs flex-sm="10" flex-gt-sm="15"></div>
        <div layout-padding flex layout="column" class="fade">
            <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                    <span md-colors="{'color': 'primary-50'}">{{sessionData.appData.action_editor}}</span>
                </div>
            </md-toolbar>
            <form name="actionForm">
                <md-input-container flex="auto" class="md-block">
                    <label>{{sessionData.appData.new_action_name}}</label>
                    <input type="text" ng-disabled="false" ng-required="true" name="appicon" ng-model="action.name[sessionData.userData.properties.correctedLanguage]" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100" ng-focus="editText(action,'name',false)">
                </md-input-container>
                <md-input-container flex="auto" class="md-block">
                    <label>{{sessionData.appData.action_next_form}}</label>
                    <md-select ng-model="action.next_form_id" ng-required="true">
                        <md-option ng-repeat="form in forms" ng-value="form._id">{{form.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block">
                    <label>{{sessionData.appData.action_type}}</label>
                    <md-select ng-model="action.action" ng-required="true">
                        <md-option ng-repeat="action in action_types" ng-value="action.type">{{action.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='create'||action.action=='modify'||action.action=='link'||action.action=='subscribe'||action.action=='unsubscribe'||action.action=='calendar'">
                    <md-checkbox ng-model="action.forward_id">{{sessionData.appData.action_forward_id}}</md-checkbox>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='create'||action.action=='modify'||action.action=='delete'||action.action=='new_item'||action.action=='link'||action.action=='subscribe'||action.action=='unsubscribe'">
                    <label>{{sessionData.appData.action_notify_user}}</label>
                    <md-select ng-model="action.notify_user" ng-required="true">
                        <md-option ng-repeat="notifyuser in notifyuser_types" ng-value="notifyuser.id">{{notifyuser.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.notify_user&&action.notify_user!='none'">
                    <label>{{sessionData.appData.new_action_email_title}}</label>
                    <input type="text" ng-disabled="false" ng-required="true" name="appicon" ng-model="action.email_title[sessionData.userData.properties.correctedLanguage]" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100" ng-focus="editText(action,'email_title',false)">
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.notify_user&&action.notify_user!='none'">
                    <label>{{sessionData.appData.new_action_email_html}}</label>
                    <textarea type="text" ng-disabled="false" ng-required="true" name="appicon" ng-model="action.email_html[sessionData.userData.properties.correctedLanguage]" md-minlength="0" ng-minlength="0" md-maxlength="2000" ng-maxlength="2000" rows="4" ng-focus="editText(action, 'email_html', true)"></textarea>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='subscribe'||action.action=='unsubscribe'">
                    <label>{{sessionData.appData.action_subscription_list}}</label>
                    <md-select ng-model="action.item_path" ng-required="true">
                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='add_event'">
                    <label>{{sessionData.appData.action_event_object_name}}</label>
                    <md-select ng-model="action.object_name_path" ng-required="true">
                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='add_event'">
                    <label>{{sessionData.appData.action_event_period}}</label>
                    <md-select ng-model="action.period_path" ng-required="true">
                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='add_event'">
                    <label>{{sessionData.appData.action_event_reservation}}</label>
                    <md-select ng-model="action.reservation_datamodel" ng-required="true" ng-change="updateReservationDatamodel()">
                        <md-option ng-repeat="datamodel in datamodels" ng-value="datamodel._id">{{datamodel.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='add_event'">
                    <label>{{sessionData.appData.action_event_reservation_object_id_path}}</label>
                    <md-select ng-model="action.object_id_reservation_path" ng-required="true">
                        <md-option ng-repeat="datakey in reservation_datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='add_event'">
                    <label>{{sessionData.appData.action_event_reservation_name_path}}</label>
                    <md-select ng-model="action.name_reservation_path" ng-required="true">
                        <md-option ng-repeat="datakey in reservation_datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='add_event'">
                    <label>{{sessionData.appData.action_event_reservation_period_path}}</label>
                    <md-select ng-model="action.period_reservation_path" ng-required="true">
                        <md-option ng-repeat="datakey in reservation_datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='remove_event'">
                    <label>{{sessionData.appData.action_event_reservation_object_id_path}}</label>
                    <md-select ng-model="action.object_id_path" ng-required="true">
                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='remove_event'">
                    <label>{{sessionData.appData.action_event_reservation_period_path}}</label>
                    <md-select ng-model="action.period_path" ng-required="true">
                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='calendar'">
                    <label>{{sessionData.appData.action_project_name}}</label>
                    <md-select ng-model="action.project_name_path" ng-required="true">
                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='calendar'">
                    <label>{{sessionData.appData.action_start_date}}</label>
                    <md-select ng-model="action.start_date_path" ng-required="true">
                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='calendar'">
                    <label>{{sessionData.appData.action_end_date}}</label>
                    <md-select ng-model="action.end_date_path" ng-required="true">
                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='calendar'">
                    <label>{{sessionData.appData.user}}</label>
                    <md-select ng-model="action.user_path" ng-required="true">
                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='share'">
                    <label>{{sessionData.appData.email}}</label>
                    <md-select ng-model="action.email_path" ng-required="true">
                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='share'">
                    <label>{{sessionData.appData.field_datafield}}</label>
                    <md-select ng-model="action.constraint_path" ng-required="true">
                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='share'">
                    <label>{{sessionData.appData.new_value}}</label>
                    <input type="text" ng-disabled="false" ng-required="true" name="appicon" ng-model="action.constraint_value" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100">
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='share'">
                    <label>{{sessionData.appData.app_profile}}</label>
                    <md-select ng-model="action.app_profile_id" ng-required="true)">
                        <md-option ng-repeat="profile in application.profiles" ng-value="profile._id">{{profile.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='share'">
                    <label>{{sessionData.appData.html_message}}</label>
                    <textarea type="text" ng-disabled="false" ng-required="true" name="action_message" ng-model="action.message" md-minlength="0" ng-minlength="0" md-maxlength="1000" ng-maxlength="1000" rows="4"></textarea>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='pay'">
                    <label>{{sessionData.appData.payment_country}}</label>
                    <input type="text" ng-disabled="false" ng-required="true" name="appicon" ng-model="action.payment_country" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100">
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='pay'">
                    <label>{{sessionData.appData.payment_currency}}</label>
                    <input type="text" ng-disabled="false" ng-required="true" name="appicon" ng-model="action.payment_currency" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100">
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='pay'">
                    <label>{{sessionData.appData.payment_value}}</label>
                    <md-select ng-model="action.payment_value_path" ng-required="true">
                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='pay'">
                    <label>{{sessionData.appData.payment_label}}</label>
                    <md-select ng-model="action.payment_label_path" ng-required="true">
                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='pay'">
                    <label>{{sessionData.appData.payment_update_path}}</label>
                    <md-select ng-model="action.payment_update_path" ng-required="true">
                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='pay'">
                    <label>{{sessionData.appData.payment_update_value}}</label>
                    <input type="text" ng-disabled="false" ng-required="true" name="appicon" ng-model="action.payment_update_value" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100">
                </md-input-container>
                <div flex layout="column">
                    <div>
                        <fieldset class="standard">
                            <legend>{{sessionData.appData.action_formula}}</legend>
                            <div layout="row" layout-wrap flex>
                                <div flex="50" ng-repeat="datafield in datamodel_keys">
                                    <md-checkbox ng-checked="existsInFormula(datafield)" ng-click="toggleInFormula(datafield)">
                                        {{datafield.translated_name}}
                                    </md-checkbox>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <md-divider layout-padding></md-divider>
                <md-header>{{sessionData.appData.action_set_value}}</md-header>
                <div flex layout="row">
                    <md-input-container flex="auto" class="md-block">
                        <label>{{sessionData.appData.field_datafield}}</label>
                        <md-select ng-model="action.set_value.full_path">
                            <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="auto" class="md-block">
                        <label>{{sessionData.appData.value}}</label>
                        <input type="text" ng-disabled="false" ng-required="false" name="appicon" ng-model="action.set_value.value" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100">
                    </md-input-container>
                </div>
                <md-checkbox ng-model="action.use_ai" ng-if="action.action=='create'||action.action=='modify'">
                    {{sessionData.appData.machinelearning_useai}}
                </md-checkbox>
                <md-input-container flex="auto" class="md-block" ng-if="action.use_ai&&(action.action=='create'||action.action=='modify')">
                    <label>{{sessionData.appData.machinelearningmodel}}</label>
                    <md-select ng-model="action.ml_model" ng-required="true">
                        <md-option ng-repeat="ml_model in machinelearning_models" ng-value="ml_model._id">{{ml_model.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-header ng-if="action.use_ai&&(action.action=='create'||action.action=='modify')">{{sessionData.appData.action_set_value}}</md-header>
                <div flex layout="row" ng-if="action.use_ai&&(action.action=='create'||action.action=='modify')">
                    <md-input-container flex="auto" class="md-block">
                        <label>{{sessionData.appData.field_datafield}}</label>
                        <md-select ng-model="action.ml_set_value.full_path">
                            <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.full_path">{{datakey.translated_name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="auto" class="md-block">
                        <label>{{sessionData.appData.value}}</label>
                        <input type="text" ng-disabled="false" ng-required="false" name="appicon" ng-model="action.ml_set_value.value" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100">
                    </md-input-container>
                </div>
                <md-input-container flex="auto" class="md-block" ng-if="action.use_ai&&(action.action=='create'||action.action=='modify')">
                    <label>{{sessionData.appData.machinelearning_score_action}}</label>
                    <input type="text" ng-disabled="false" ng-required="true" name="score" ng-model="action.ml_min_score" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100">
                </md-input-container>
                <div layout="row" layout-align="end" flex>
                    <md-button ng-disabled="actionForm.$invalid" type="submit" ng-click="save()" class="md-primary">{{sessionData.appData.save}}</md-button>
                </div>
            </form>
        </div>
        <div hide-xs flex-sm="10" flex-gt-sm="15"></div>
    </div>
</md-content>
