<md-content flex="auto" ng-class="sessionData.userData.properties.theme">
    <div layout="row">
        <div hide-xs flex-sm="10" flex-gt-sm="15"></div>
        <div layout-padding flex layout="column" class="fade">
            <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                    <span md-colors="{'color': 'primary-50'}">{{sessionData.appData.action_editor}}</span>
                </div>
            </md-toolbar>
            <form name="actionForm">
                <md-input-container flex="auto" class="md-block">
                    <label>{{sessionData.appData.new_action_name}}</label>
                    <input type="text" ng-disabled="false" ng-required="false" name="appicon" ng-model="action.name[sessionData.userData.properties.language]" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100" ng-focus="editText(action,'name',false)">
                </md-input-container>
                <md-input-container flex="auto" class="md-block">
                    <label>{{sessionData.appData.action_next_form}}</label>
                    <md-select ng-model="action.next_form_id">
                        <md-option ng-repeat="form in forms" ng-value="form._id">{{form.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block">
                    <label>{{sessionData.appData.action_type}}</label>
                    <md-select ng-model="action.action">
                        <md-option ng-repeat="action in action_types" ng-value="action.type">{{action.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container flex="auto" class="md-block" ng-if="action.action=='create'">
                    <md-checkbox ng-model="action.forward_id">{{sessionData.appData.action_forward_id}}</md-checkbox>
                </md-input-container>
                <div flex layout="column">
                    <div>
                        <fieldset class="standard">
                            <legend>{{sessionData.appData.action_formula}}</legend>
                            <div layout="row" layout-wrap flex>
                                <div flex="50" ng-repeat="datafield in datamodel_keys">
                                    <md-checkbox ng-checked="existsInFormula(datafield)" ng-click="toggleInFormula(datafield)">
                                        {{datafield.translated_name}}
                                    </md-checkbox>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div flex layout="row">
                    <md-input-container flex="auto" class="md-block">
                        <label>{{sessionData.appData.field_datafield}}</label>
                        <md-select ng-model="action.set_value.name">
                            <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.id">{{datakey.translated_name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container flex="auto" class="md-block">
                        <label>{{sessionData.appData.value}}</label>
                        <input type="text" ng-disabled="false" ng-required="false" name="appicon" ng-model="action.set_value.value" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100">
                    </md-input-container>
                </div>
                <div layout="row" layout-align="end" flex>
                    <md-button type="submit" ng-click="save()" class="md-primary">{{sessionData.appData.save}}</md-button>
                </div>
            </form>
        </div>
        <div hide-xs flex-sm="10" flex-gt-sm="15"></div>
    </div>
</md-content>
