<md-content flex="auto" ng-class="sessionData.userData.properties.theme">
    <div layout="row">
        <div hide-xs flex-sm="10" flex-gt-sm="15"></div>
        <div layout-padding flex layout="column" class="fade">
            <md-list>
                <md-list-item class="md-2-line" ng-click="newApplication()">
                    <div class="md-list-item-text">
                        <h3>{{sessionData.appData.new_app}}</h3>
                    </div>
                </md-list-item>
                <md-divider></md-divider>
                <md-subheader class="md-no-sticky">{{sessionData.appData.list_app}}</md-subheader>
                <md-list-item class="md-2-line" ng-repeat="app in applications">
                    <md-switch ng-disabled="!app.active" ng-model="app.enabled" ng-click="updateCompanyApps(app)" aria-label="Show App"></md-switch>
                    <div class="md-list-item-text">
                        <h3>{{app.translated_name}}</h3>
                    </div>
                    <md-button class="md-secondary" ng-click="edit(app._id)" aria-label="Edit" ng-if="(app._company_code == sessionData.userData._company_code)">
                        <md-icon>edit</md-icon>
                    </md-button>
                    <md-button class="md-secondary" ng-click="delete(app)" aria-label="Delete" ng-if="(app._company_code == sessionData.userData._company_code)">
                        <md-icon>delete</md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
        </div>
        <div hide-xs flex-sm="10" flex-gt-sm="15"></div>
    </div>
</md-content>
