<md-content flex="auto" ng-class="sessionData.userData.properties.theme">
	<div layout="row">
		<div hide-xs flex-sm="10" flex-gt-sm="15"></div>
		<div layout-padding flex="auto" layout="column" class="fade" infinite-scroll="getNextApps()" infinite-scroll-distance="10">
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{{sessionData.appData.new_app}}</span>
					</md-card-title-text>
					<md-card-actions layout="row" layout-align="end center">
						<md-button class="md-fab md-primary" ng-click="newApplication()" aria-label="New Application">
							<md-icon>add</md-icon>
						</md-button>
					</md-card-actions>
				</md-card-title>
			</md-card>
			<md-card ng-repeat="app in applications">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{{app.translated_name}}</span>
						<span class="md-body-1">{{app.translated_description}}</span>
					</md-card-title-text>
					<md-card-actions layout="row" layout-align="end center">
						<md-switch ng-disabled="!app.active" ng-model="app.enabled" ng-click="updateCompanyApps(app)" aria-label="Show App"></md-switch>
					</md-card-actions>
				</md-card-title>
				<md-card-actions layout="row" layout-align="end center">
					<md-button class="md-fab md-primary" ng-click="edit(app._id)" aria-label="Edit" ng-if="(app._company_code == sessionData.userData._company_code)">
						<md-icon>edit</md-icon>
					</md-button>
					<md-button class="md-fab md-primary" ng-click="delete(app)" aria-label="Delete" ng-if="(app._company_code == sessionData.userData._company_code)">
						<md-icon>delete</md-icon>
					</md-button>
					<md-button class="md-fab md-primary" ng-click="share(app)" aria-label="Share">
						<md-icon>share</md-icon>
					</md-button>
				</md-card-actions>
			</md-card>
		</div>
		<div hide-xs flex-sm="10" flex-gt-sm="15"></div>
	</div>
</md-content>
