<md-content flex="auto" ng-class="sessionData.userData.properties.theme">
    <div layout="row">
        <div hide-xs flex-sm="10" flex-gt-sm="15"></div>
        <div layout-padding flex layout="column" class="fade">
            <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                    <span md-colors="{'color': 'primary-50'}">{{sessionData.appData.field_editor}}</span>
                </div>
            </md-toolbar>
            <form name="displayForm">
                <md-input-container flex="auto" class="md-block">
                    <label>{{sessionData.appData.field_display}}</label>
                    <md-select ng-model="field.display">
                        <md-option ng-repeat="display in display_types" ng-value="display.type">{{display.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <div ng-switch="field.display" flex="auto">
                    <div ng-switch-when="list|item" ng-switch-when-separator="|">
                        <div layout="row" layout-xs="column">
                            <div flex>
                                <md-subheader>{{sessionData.appData.field_list_title}}</md-subheader>
                                <md-input-container flex="auto" class="md-block">
                                    <label>{{sessionData.appData.field_display}}</label>
                                    <md-select ng-model="field.title_display">
                                        <md-option ng-repeat="display in title_display_types" ng-value="display.type">{{display.translated_name}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex="auto" class="md-block">
                                    <label>{{sessionData.appData.field_datafield}}</label>
                                    <md-select ng-model="field.title">
                                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="field.id">{{datakey.translated_name}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container ng-if="field.title_display=='value'||field.title_display=='currency'" flex="auto" class="md-block">
                                    <label>{{sessionData.appData.field_listofvalues}}</label>
                                    <md-select ng-model="field.title_listofvalues">
                                        <md-option ng-repeat="listofvalue in form.values" ng-value="listofvalue._id">{{listofvalue.translated_name}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div flex>
                                <md-subheader>{{sessionData.appData.field_list_subtitle}}</md-subheader>
                                <md-input-container flex="auto" class="md-block">
                                    <label>{{sessionData.appData.field_display}}</label>
                                    <md-select ng-model="field.subtitle_display">
                                        <md-option ng-repeat="display in title_display_types" ng-value="display.type">{{display.translated_name}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex="auto" class="md-block">
                                    <label>{{sessionData.appData.field_datafield}}</label>
                                    <md-select ng-model="field.subtitle">
                                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.id">{{datakey.translated_name}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container ng-if="field.subtitle_display=='value'||field.subtitle_display=='currency'" flex="auto" class="md-block">
                                    <label>{{sessionData.appData.field_listofvalues}}</label>
                                    <md-select ng-model="field.subtitle_listofvalues">
                                        <md-option ng-repeat="listofvalue in form.values" ng-value="listofvalue._id">{{listofvalue.translated_name}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <md-subheader>{{sessionData.appData.form_actions}}</md-subheader>
                        <div ng-repeat="action in field.item_actions">
                            <md-input-container flex="auto" class="md-block">
                                <label>{{sessionData.appData.new_action_name}}</label>
                                <input type="text" ng-disabled="false" ng-required="false" name="appicon" ng-model="action.name[sessionData.userData.properties.language]" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100" ng-focus="editText(action,'name',false,100)">
                            </md-input-container>
                            <md-input-container flex="auto" class="md-block">
                                <label>{{sessionData.appData.next_form}}</label>
                                <md-select ng-model="action.next_form_id">
                                    <md-option ng-repeat="form in forms" ng-value="form._id">{{form.translated_name}}</md-option>
                                </md-select>
                            </md-input-container>
                            <div ng-repeat="item_action in field.item_actions">
                                <div ng-if="field.display=='list'">
                                    <md-input-container flex="auto" class="md-block">
                                        <label>{{sessionData.appData.action_type}}</label>
                                        <md-select ng-model="item_action.action">
                                            <md-option ng-repeat="action in list_action_types" ng-value="action.type">{{action.translated_name}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div ng-if="field.display=='item'">
                                    <md-input-container flex="auto" class="md-block">
                                        <label>{{sessionData.appData.action_type}}</label>
                                        <md-select ng-model="item_action.action">
                                            <md-option ng-repeat="action in item_action_types" ng-value="action.type">{{action.translated_name}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                            </div>
                            <div flex layout="column">
                                <div>
                                    <fieldset class="standard">
                                        <legend>{{sessionData.appData.action_formula}}</legend>
                                        <div layout="row" layout-wrap flex>
                                            <div flex="50" ng-repeat="datafield in datamodel_keys">
                                                <md-checkbox ng-checked="existsInFormula(datafield)" ng-click="toggleInFormula(datafield)">
                                                    {{datafield.translated_name}}
                                                </md-checkbox>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div flex layout="row">
                                <md-input-container flex="auto" class="md-block">
                                    <label>{{sessionData.appData.field_datafield}}</label>
                                    <md-select ng-model="action.set_value.name">
                                        <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.id">{{datakey.translated_name}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container flex="auto" class="md-block">
                                    <label>{{sessionData.appData.value}}</label>
                                    <input type="text" ng-disabled="false" ng-required="false" name="appicon" ng-model="action.set_value.value" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100">
                                </md-input-container>
                            </div>
                        </div>
                        <md-input-container flex="auto" class="md-block">
                            <md-button ng-click="addActionList(field)" class="md-primary">{{sessionData.appData.new_action}}</md-button>
                        </md-input-container>
                    </div>
                    <div ng-switch-when="shorttext|number|editor|feed|file|check|calendar|calculation|email|address" ng-switch-when-separator="|">
                        <div layout="row" layout-xs="column">
                            <md-input-container flex="auto" class="md-block">
                                <md-checkbox ng-model="field.disabled">{{sessionData.appData.field_disabled}}</md-checkbox>
                            </md-input-container>
                            <md-input-container flex="auto" class="md-block">
                                <md-checkbox ng-model="field.required">{{sessionData.appData.field_required}}</md-checkbox>
                            </md-input-container>
                        </div>
                        <md-input-container flex="auto" class="md-block">
                            <label>{{sessionData.appData.field_name}}</label>
                            <input type="text" ng-disabled="false" ng-required="false" name="appicon" ng-model="field.text[sessionData.userData.properties.language]" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100" ng-focus="editText(field,'text',false)">
                        </md-input-container>
                        <md-input-container flex="auto" class="md-block">
                            <label>{{sessionData.appData.field_datafield}}</label>
                            <md-select ng-model="field.projectionid">
                                <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.id">{{datakey.translated_name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div ng-switch-when="currency|selection" ng-switch-when-separator="|">
                        <div layout="row" layout-xs="column">
                            <md-input-container flex="auto" class="md-block">
                                <md-checkbox ng-model="field.disabled">{{sessionData.appData.field_disabled}}</md-checkbox>
                            </md-input-container>
                            <md-input-container flex="auto" class="md-block">
                                <md-checkbox ng-model="field.required">{{sessionData.appData.field_required}}</md-checkbox>
                            </md-input-container>
                        </div>
                        <md-input-container flex="auto" class="md-block">
                            <label>{{sessionData.appData.field_name}}</label>
                            <input type="text" ng-disabled="false" ng-required="false" name="appicon" ng-model="field.text[sessionData.userData.properties.language]" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100" ng-focus="editText(field,'text',false)">
                        </md-input-container>
                        <md-input-container flex="auto" class="md-block">
                            <label>{{sessionData.appData.field_datafield}}</label>
                            <md-select ng-model="field.projectionid">
                                <md-option ng-repeat="datakey in datamodel_keys" ng-value="datakey.id">{{datakey.translated_name}}</md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container flex="auto" class="md-block">
                            <label>{{sessionData.appData.field_listofvalues}}</label>
                            <md-select ng-model="field.listofvalues">
                                <md-option ng-repeat="listofvalue in form.values" ng-value="listofvalue._id">{{listofvalue.translated_name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="end" flex>
                        <md-button type="submit" ng-click="save()" class="md-primary">{{sessionData.appData.save}}</md-button>
                    </div>
                </div>
            </form>
        </div>
        <div hide-xs flex-sm="10" flex-gt-sm="15"></div>
    </div>
</md-content>
