<md-dialog aria-label="Translate Text">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{sessionData.appData.text_translation}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div ng-if="!multipleLines">
                    <md-input-container flex="auto" class="md-block">
                        <label>English</label>
                        <input type="text" ng-disabled="false" ng-required="false" name="" ng-model="text.en" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100" rows="3" autofocus>
                    </md-input-container>
                    <md-input-container flex="auto" class="md-block">
                        <label>Francais</label>
                        <input type="text" ng-disabled="false" ng-required="false" name="" ng-model="text.fr" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100" rows="3">
                    </md-input-container>
                </div>
                <div ng-if="multipleLines">
                    <md-input-container flex="auto" class="md-block">
                        <label>English</label>
                        <textarea ng-disabled="false" ng-required="false" name="" ng-model="text.en" md-minlength="0" ng-minlength="0" md-maxlength="2000" ng-maxlength="2000" rows="4"></textarea>
                    </md-input-container>
                    <md-input-container flex="auto" class="md-block">
                        <label>Francais</label>
                        <textarea ng-disabled="false" ng-required="false" name="" ng-model="text.fr" md-minlength="0" ng-minlength="0" md-maxlength="2000" ng-maxlength="2000" rows="4"></textarea>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                {{sessionData.appData.cancel}}
            </md-button>
            <md-button ng-click="answer(text)">
                {{sessionData.appData.ok}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
