<md-content flex="auto" ng-class="sessionData.userData.properties.theme">
    <div layout="row">
        <div hide-xs flex-sm="10" flex-gt-sm="15"></div>
        <div layout-padding flex layout="column" class="fade">
            <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                    <span md-colors="{'color': 'primary-50'}">{{sessionData.appData.value_editor}}</span>
                </div>
            </md-toolbar>
            <form name="valueForm">
                <md-input-container flex="auto" class="md-block">
                    <label>{{sessionData.appData.new_value_name}}</label>
                    <input type="text" ng-disabled="false" ng-required="false" name="appicon" ng-model="value.name[sessionData.userData.properties.correctedLanguage]" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100" ng-focus="editText(value,'name',false)">
                </md-input-container>
                <md-input-container flex="auto" class="md-block">
                    <label>{{sessionData.appData.value_type}}</label>
                    <md-select ng-model="value.type" ng-required="true">
                        <md-option ng-repeat="value in value_types" ng-value="value.type">{{value.translated_name}}</md-option>
                    </md-select>
                </md-input-container>
                <div ng-switch="value.type" flex="auto">
                    <div ng-switch-when="list">
                        <md-header layout-padding>{{sessionData.appData.field_listofvalues}}</md-header>
                        <div ng-repeat="value_item in value.values">
                            <div layout="row">
                                <md-input-container flex="auto" class="md-block">
                                    <input type="text" ng-disabled="false" ng-required="false" name="appicon" ng-model="value_item.name[sessionData.userData.properties.correctedLanguage]" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100" ng-focus="editText(value_item,'name',false)">
                                </md-input-container>
                                <md-button ng-click="deleteValue($index)" class="md-fab md-primary">
                                    <md-icon>delete</md-icon>
                                </md-button>
                            </div>
                        </div>
                        <md-input-container flex="auto" class="md-block">
                            <md-button ng-click="addValue()" class="md-fab md-primary">
                                <md-icon>add</md-icon>
                            </md-button>
                        </md-input-container>
                    </div>
                    <div ng-switch-when="user">
                        <md-input-container flex="auto" class="md-block">
                            <label>{{sessionData.appData.value_user_relation_type}}</label>
                            <md-select ng-model="value.values.relation" ng-required="true">
                                <md-option ng-repeat="relation in value_relation_user_types" ng-value="relation.type">{{relation.translated_name}}</md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div ng-switch-when="query">
                        <div layout="column">
                            <md-input-container flex="auto" class="md-block">
                                <label>{{sessionData.appData.datamodel}}</label>
                                <md-select ng-model="value.values.datamodel_id" ng-required="true">
                                    <md-option ng-repeat="datamodel in datamodels" ng-value="datamodel._id">{{datamodel.translated_name}}</md-option>
                                </md-select>
                            </md-input-container>
                                        <md-input-container flex="auto" class="md-block">
                                <label>{{sessionData.appData.form_search_criteria}}</label>
                                <textarea type="text" ng-disabled="false" ng-required="false" name="appicon" ng-model="value.values.datamodel_search_criteria" md-minlength="0" ng-minlength="0" md-maxlength="2000" ng-maxlength="2000" rows="2"></textarea>
                            </md-input-container>
                            <md-input-container flex="auto" class="md-block">
                                <label>{{sessionData.appData.form_sort_by}}</label>
                                <textarea type="text" ng-disabled="false" ng-required="false" name="appicon" ng-model="value.values.datamodel_sort_by" md-minlength="0" ng-minlength="0" md-maxlength="2000" ng-maxlength="2000" rows="2"></textarea>
                            </md-input-container>
                        </div>
                    </div>
                </div>
                <div layout="row" layout-align="end" flex>
                    <md-button ng-disabled="valueForm.$invalid" type="submit" ng-click="save()" class="md-primary">{{sessionData.appData.save}}</md-button>
                </div>
            </form>
        </div>
        <div hide-xs flex-sm="10" flex-gt-sm="15"></div>
    </div>
</md-content>
