<md-content flex="auto" ng-class="sessionData.userData.properties.theme">
    <div layout="row">
        <div hide-xs flex-sm="10" flex-gt-sm="15"></div>
        <div layout-padding flex layout="column" class="fade">
            <md-toolbar layout="row">
                <div class="md-toolbar-tools">
                    <span md-colors="{'color': 'primary-50'}">{{sessionData.appData.datamodel}}</span>
                </div>
            </md-toolbar>
            <form name="datamodelForm">
                <md-input-container flex="auto" class="md-block">
                    <label>{{sessionData.appData.new_datamodel_name}}</label>
                    <input type="text" ng-disabled="false" ng-required="false" name="appicon" ng-model="datamodel.name[sessionData.userData.properties.language]" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100" ng-focus="editText(datamodel,'name',false)">
                </md-input-container>
                <md-input-container flex="auto" class="md-block">
                    <label>{{sessionData.appData.datamodel_description}}</label>
                    <textarea type="text" ng-disabled="false" ng-required="false" name="appicon" ng-model="datamodel.description[sessionData.userData.properties.language]" md-minlength="0" ng-minlength="0" md-maxlength="2000" ng-maxlength="2000" rows="4" ng-focus="editText(datamodel,'description',true)"></textarea>
                </md-input-container>
                <md-header layout-padding>{{sessionData.appData.datamodel_field_list}}</md-header>
                <div ng-repeat="field in datamodel_keys" layout-padding>
                    <div layout="row">
                        <md-input-container flex="auto" class="md-block">
                            <label>{{sessionData.appData.new_datamodel_name}}</label>
                            <input type="text" ng-disabled="false" ng-required="true" ng-model="field.name[sessionData.userData.properties.language]" md-minlength="0" ng-minlength="0" md-maxlength="100" ng-maxlength="100" ng-focus="editTextCopy(field,'name',false)" aria-label="field">
                        </md-input-container>
                        <md-button ng-if="field.type=='node'" class="md-fab md-primary" aria-label="NewField" ng-click="newField(field.path, field.technical_name)">
                            <md-icon>add</md-icon>
                        </md-button>
                        <md-button class="md-fab md-primary" aria-label="DeleteField" ng-click="deleteField(field.full_path)">
                            <md-icon>delete</md-icon>
                        </md-button>
                    </div>
                    <span class="md-title"><i>{{field_type[field.type].translated_name}}</i> - {{field.full_path}}</span>
                    <div layout="row">
                        <md-input-container flex="auto" class="md-block" ng-if="field.type=='text'||field.type=='number'">
                            <md-checkbox ng-model="field.index">{{sessionData.appData.datamodel_field_index}}</md-checkbox>
                        </md-input-container>
                        <md-slider-container flex="70" ng-if="(field.type=='text'||field.type=='number')&&field.index">
                            <md-slider min="1" max="10" ng-model="field.index_weight" aria-label="weight" ng-init="(field.index_weight?field.index_weight:(field.index_weight=1))"></md-slider>
                            <p ng-if="field.index" class="md-body">{{field.index_weight}}</p>
                        </md-slider-container>
                    </div>
                    <md-input-container flex="auto" class="md-block" ng-if="field.type=='reference'||field.type=='item'">
                        <label>{{sessionData.appData.datamodel}}</label>
                        <md-select ng-model="field.ref" ng-required="true">
                            <md-option ng-repeat="datamodel in datamodels" ng-value="datamodel.corrected_ref">{{datamodel.translated_name}}</md-option>
                        </md-select>
                    </md-input-container>
                    <md-divider ng-if="!$last" md-colors="{'background-color': 'primary-A100'}"></md-divider>
                </div>
                <md-input-container flex="auto" class="md-block">
                    <md-button ng-click="newField('','')" class="md-fab md-primary">
                        <md-icon>add</md-icon>
                    </md-button>
                </md-input-container>
                <div layout="row" layout-align="end" flex>
                    <md-button ng-disabled="datamodelForm.$invalid" type="submit" ng-click="save()" class="md-primary">{{sessionData.appData.save}}</md-button>
                </div>
            </form>
        </div>
        <div hide-xs flex-sm="10" flex-gt-sm="15"></div>
    </div>
</md-content>
