<md-content class="md-padding" layout-xs="column" layout="column">
	<md-card ng-repeat="application in sessionData.applications">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">{{application.name}}</span>
				<span class="md-body-1">{{application.description}}</span>
			</md-card-title-text>
			<md-card-actions layout="row" layout-align="end center">
			   <md-button class="md-fab md-primary" aria-label="Open" ng-click="open(application._id)">
					<md-icon>{{application.icon}}</md-icon>
			   </md-button>
			</md-card-actions>
		</md-card-title>
</md-card>
</md-content>
