<md-content ng-show="form.type == 'list'" layout-padding>
    <md-toolbar layout="row" class="md-hue-1">
        <div class="md-toolbar-tools">
            <span>{{form.title}}</span>
        </div>
    </md-toolbar>
    <md-list flex>
        <div infinite-scroll="getNextData()" infinite-scroll-distance="10">
            <md-list-item class="md-3-line" ng-repeat="data in datas">
                <div class="md-list-item-text" layout="column">
                    <div ng-switch="form.display.title_display">
                        <div ng-switch-when="text">
                            <h3>{{data[form.display.title]}}</h3>
                        </div>
                        <div ng-switch-when="value">
                            <h3>{{form.display.title_values[data[form.display.title]]}}</h3>
                        </div>
                        <div ng-switch-when="currency">
                            <h3>{{data[form.display.title]}}</h3>
                        </div>
                    </div>
                    <div ng-switch="form.display.subtitle_display">
                        <div ng-switch-when="text">
                            <h4>{{data[form.display.subtitle]}}</h4>
                        </div>
                        <div ng-switch-when="value">
                            <h4>{{form.display.subtitle_values[data[form.display.subtitle]]}}</h4>
                        </div>
                        <div ng-switch-when="currency">
                            <h4>{{data[form.display.subtitle].value}} {{form.display.subtitle_values[data[form.display.subtitle].currency]}}</h4>
                        </div>
                    </div>
                    <p>{{data[form.display.date]|date:form.date_format}}</p>
                </div>
                <div ng-repeat="action in form.item_actions" class="md-secondary" layout="row">
                    <div ng-switch="action.action">
                        <div ng-switch-when="delete">
                            <md-button flex-gt-xs ng-click="delete(action.formula, action.next_form_id, data)">{{action.translated_name}}</md-button>
                        </div>
                        <div ng-switch-when="link">
                            <md-button flex-gt-xs ng-click="link(action.formula, action.next_form_id, data)">{{action.translated_name}}</md-button>
                        </div>
                        <div ng-switch-when="modify">
                            <md-button flex-gt-xs ng-click="modify(action.formula, action.next_form_id, action.set_value, data)">{{action.translated_name}}</md-button>
                        </div>
                    </div>
                </div>
            </md-list-item>
        </div>
    </md-list>
    <div layout="row" layout-align="end" flex>
        <div ng-repeat="action in form.actions">
            <div ng-switch="action.action">
                <div ng-switch-when="create">
                    <md-button flex-gt-xs ng-click="create(action.formula, action.next_form_id, action.set_value, data)" class="md-primary">{{action.translated_name}}</md-button>
                </div>
                <div ng-switch-when="modify">
                    <md-button flex-gt-xs ng-click="modify(action.formula, action.next_form_id, action.set_value, data)" class="md-primary">{{action.translated_name}}</md-button>
                </div>
                <div ng-switch-when="delete">
                    <md-button flex-gt-xs ng-click="delete(action.formula, action.next_form_id, data)" class="md-primary">{{action.translated_name}}</md-button>
                </div>
                <div ng-switch-when="link">
                    <md-button flex-gt-xs ng-click="link(action.formula, action.next_form_id, data)" class="md-primary">{{action.translated_name}}</md-button>
                </div>
            </div>
        </div>
    </div>
</md-content>
<md-content ng-show="form.type == 'form'" layout-padding>
    <md-toolbar layout="row" class="md-hue-1">
        <div class="md-toolbar-tools">
            <span>{{form.title}}</span>
        </div>
    </md-toolbar>
    <form name="dynamicForm">
        <div ng-repeat="field in form.display">
            <div ng-switch="field.display">

                <div ng-switch-when="list">
                    <md-list flex>
                        <div infinite-scroll="getNextData()" infinite-scroll-distance="10">
                            <md-list-item class="md-3-line" ng-repeat="data in datas">
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{data[form.display.title]}}</h3>
                                    <h4>{{data[form.display.subtitle]}}</h4>
                                    <p>{{data[form.display.date]|date:form.date_format}}</p>
                                </div>
                                <div ng-repeat="action in form.item_actions" class="md-secondary" layout="row">
                                    <div ng-switch="action.action">
                                        <div ng-switch-when="delete">
                                            <md-button flex-gt-xs ng-click="delete(action.formula, action.next_form_id, data)">{{action.translated_name}}</md-button>
                                        </div>
                                        <div ng-switch-when="link">
                                            <md-button flex-gt-xs ng-click="link(action.formula, action.next_form_id, data)">{{action.translated_name}}</md-button>
                                        </div>
                                    </div>
                                </div>
                            </md-list-item>
                        </div>
                    </md-list>
                </div>

                <div ng-switch-when="shorttext">
                    <div ng-switch="field.disabled">
                        <div ng-switch-when="true">
                            <md-input-container flex-gt-xs class="md-block">
                                <p class="subtitle">{{field.translated_name}}</p>
                                <p class="md-body-1">{{data[field.name]}}</p>
                            </md-input-container>
                        </div>
                        <div ng-switch-when="false">
                            <md-input-container flex-gt-xs class="md-block">
                                <label>{{field.translated_name}}</label>
                                <input type="text" ng-disabled="field.disabled" ng-required="field.required" name="{{field.translated_name}}" ng-model="data[field.name]" md-minlength="field.validation.min_size" ng-minlength="field.validation.min_size" md-maxlength="field.validation.max_size" ng-maxlength="field.validation.max_size">
                                <div ng-messages="dynamicForm.$field.name.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                        Your input must be between {{field.validation.min_size}} and {{field.validation.max_size}} characters long.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="number">
                    <div ng-switch="field.disabled">
                        <div ng-switch-when="true">
                            <md-input-container flex-gt-xs class="md-block">
                                <p class="subtitle">{{field.translated_name}}</p>
                                <p class="md-body-1">{{data[field.name]}}</p>
                            </md-input-container>
                        </div>
                        <div ng-switch-when="false">
                            <md-input-container flex-gt-xs class="md-block">
                                <label>{{field.translated_name}}</label>
                                <input type="number" ng-disabled="field.disabled" ng-required="field.required" name="{{field.translated_name}}" ng-model="data[field.name]" ng-pattern="field.pattern" step="{{field.step}}" ng-min="field.min" ng-max="field.max">
                                <div ng-messages="dynamicForm.$field.name.$error" role="alert">
                                    <div ng-message-exp="['required', 'pattern']">
                                        Your input must be a double digit number.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="currency">
                    <div ng-switch="field.disabled">
                        <div ng-switch-when="true">
                            <md-input-container flex-gt-xs class="md-block">
                                <p class="subtitle">{{field.translated_name}}</p>
                                <p class="md-body-1">{{data[field.name].value}} {{field.values_key[data[field.name].currency]}}</p>
                            </md-input-container>
                        </div>
                        <div ng-switch-when="false">
                            <div layout="row">
                                <md-input-container flex="80">
                                    <label>{{field.translated_name}}</label>
                                    <input type="number" ng-disabled="field.disabled" ng-required="field.required" name="{{field.translated_name}}" ng-model="data[field.name].value" ng-pattern="field.pattern" step="{{field.step}}" ng-min="field.min" ng-max="field.max">
                                    <div ng-messages="dynamicForm.$field.name.$error" role="alert">
                                        <div ng-message-exp="['required', 'pattern']">
                                            Your input must be a double digit number.
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex="20">
                                    <md-select ng-model="data[field.name].currency" ng-disabled="field.disabled" ng-required="field.required" aria-label="{{field.translated_name}}">
                                        <md-option ng-repeat="value in field.values" value="{{value._id}}" ng-selected="data[field.name].currency == value._id">{{value.name}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="editor">
                    <div ng-switch="field.disabled">
                        <div ng-switch-when="true">
                            <md-input-container flex-gt-xs class="md-block">
                                <p class="subtitle">{{field.translated_name}}</p>
                                <p class="md-body-1">{{data[field.name]}}</p>
                            </md-input-container>
                        </div>
                        <div ng-switch-when="false">
                            <md-input-container flex-gt-xs class="md-block">
                                <label>{{field.translated_name}}</label>
                                <textarea ng-disabled="field.disabled" ng-required="field.required" name="{{field.translated_name}}" ng-model="data[field.name]" md-minlength="field.validation.min_size" ng-minlength="field.validation.min_size" md-maxlength="field.validation.max_size" ng-maxlength="field.validation.max_size" rows="8"></textarea>
                            </md-input-container>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="feed">
                    <p class="subtitle">{{field.translated_previous}}</p>
                    <div ng-repeat="existing_feed in data[field.name]">
                        <p class="md-body-2">{{existing_feed.from}} {{existing_feed.date|date:field.date_format}}</p>
                        <p class="md-body-1">{{existing_feed.text}}</p>
                    </div>
                    <md-input-container flex-gt-xs ng-if="!field.disabled" class="md-block">
                        <label>{{field.translated_name}}</label>
                        <textarea ng-disabled="field.disabled" ng-required="field.required" name="{{field.translated_name}}" ng-model="form.newvalues[field.name]" md-minlength="field.validation.min_size" ng-minlength="field.validation.min_size" md-maxlength="field.validation.max_size" ng-maxlength="field.validation.max_size" rows="4"></textarea>
                    </md-input-container>
                </div>

                <div ng-switch-when="address">
                    <div ng-switch="field.disabled">
                        <div ng-switch-when="true">
                            <div id="map{{field.name}}" style="width:100%;height:200px;background-color:grey}"></div>
                            <md-input-container flex-gt-xs class="md-block">
                                <p class="subtitle">{{field.address_line1_translated_name}}</p>
                                <p class="md-body-1">{{data[field.name].address_line1}}</p>
                            </md-input-container>
                            <md-input-container flex-gt-xs class="md-block">
                                <p class="subtitle">{{field.address_line2_translated_name}}</p>
                                <p class="md-body-1">{{data[field.name].address_line2}}</p>
                            </md-input-container>
                            <div layout="row">
                                <md-input-container flex-gt-xs flex="70">
                                    <p class="subtitle">{{field.address_city_translated_name}}</p>
                                    <p class="md-body-1">{{data[field.name].address_city}}</p>
                                </md-input-container>
                                <md-input-container flex-gt-xs flex="30">
                                    <p class="subtitle">{{field.address_postal_code_translated_name}}</p>
                                    <p class="md-body-1">{{data[field.name].address_postal_code}}</p>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container flex-gt-xs flex="50">
                                    <p class="subtitle">{{field.address_state_translated_name}}</p>
                                    <p class="md-body-1">{{data[field.name].address_state}}</p>
                                </md-input-container>
                                <md-input-container flex-gt-xs flex="50">
                                    <p class="subtitle">{{field.address_country_translated_name}}</p>
                                    <p class="md-body-1">{{data[field.name].address_country}}</p>
                                </md-input-container>
                            </div>
                        </div>
                        <div ng-switch-when="false">
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>{{field.address_line1_translated_name}}</label>
                                <input ng-disabled="field.disabled" ng-required="field.required" name="{{field.address_line1_translated_name}}" ng-model="data[field.name].address_line1" md-minlength="field.validation.address_line1.min_size" ng-minlength="field.validation.min_size" md-maxlength="field.validation.min_size" ng-maxlength="field.validation.min_size">
                                <div ng-messages="dynamicForm.$field.name.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                        Your input must be between 1 and 200 characters long.
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-xs>
                                <label>{{field.address_line2_translated_name}}</label>
                                <input ng-disabled="field.disabled" ng-required="false" name="{{field.address_line2_translated_name}}" ng-model="data[field.name].address_line2" md-minlength="0" ng-minlength="0" md-maxlength="200" ng-maxlength="200">
                                <div ng-messages="dynamicForm.$field.name.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                        Your input must be between 0 and 200 characters long.
                                    </div>
                                </div>
                            </md-input-container>
                            <div layout="row">
                                <md-input-container flex-gt-xs flex="70">
                                    <label>{{field.address_city_translated_name}}</label>
                                    <input ng-disabled="field.disabled" ng-required="field.required" name="{{field.address_city_translated_name}}" ng-model="data[field.name].address_city" md-minlength="1" ng-minlength="1" md-maxlength="200" ng-maxlength="200">
                                    <div ng-messages="dynamicForm.$field.name.$error" role="alert">
                                        <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                            Your input must be between 1 and 200 characters long.
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex-gt-xs flex="30">
                                    <label>{{field.address_postal_code_translated_name}}</label>
                                    <input ng-disabled="field.disabled" ng-required="field.required" name="{{field.address_postal_code_translated_name}}" ng-model="data[field.name].address_postal_code" md-minlength="0" ng-minlength="0" md-maxlength="200" ng-maxlength="200">
                                    <div ng-messages="dynamicForm.$field.name.$error" role="alert">
                                        <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                            Your input must be between 0 and 200 characters long.
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div layout="row">
                                <md-input-container flex-gt-xs flex="50">
                                    <label>{{field.address_state_translated_name}}</label>
                                    <input ng-disabled="field.disabled" ng-required="false" name="{{field.address_state_translated_name}}" ng-model="data[field.name].address_state" md-minlength="0" ng-minlength="0" md-maxlength="200" ng-maxlength="200">
                                    <div ng-messages="dynamicForm.$field.name.$error" role="alert">
                                        <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                            Your input must be between 0 and 200 characters long.
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container flex-gt-xs flex="50">
                                    <label>{{field.address_country_translated_name}}</label>
                                    <input ng-disabled="field.disabled" ng-required="field.required" name="{{field.address_country_translated_name}}" ng-model="data[field.name].address_country" md-minlength="0" ng-minlength="0" md-maxlength="200" ng-maxlength="200">
                                    <div ng-messages="dynamicForm.$field.name.$error" role="alert">
                                        <div ng-message-exp="['required', 'minlength', 'maxlength']">
                                            Your input must be between 0 and 200 characters long.
                                        </div>
                                    </div>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="file">
                    <div ng-switch="field.disabled">
                        <div ng-switch-when="true">
                            <div ng-repeat="file in data._files">
                                <a class="md-body-2" href="/file/{{file._id}}">
                                    <p class="md-body-2">{{file.name}}</p>
                                </a>
                            </div>
                        </div>
                        <div ng-switch-when="false">
                            <p class="subtitle" id="file_upload"></p>
                            <md-input-container ng-if="!field.disabled" class="md-block">
                                <input multiple accept="image/*" type="file" ng-disabled="field.disabled" ng-required="field.required" aria-label="{{field.translated_name}}" name="{{field.translated_name}}" ng-model="form.newvalues[field.name]" onchange="angular.element(this).scope().changeFiles(this.files)">
                            </md-input-container>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="selection">
                    <div ng-switch="field.disabled">
                        <div ng-switch-when="true">
                            <md-input-container flex-gt-xs>
                                <p class="subtitle">{{field.translated_name}}</p>
                                <p class="md-body-1">{{field.values_key[data[field.name]]}}</p>
                            </md-input-container>
                        </div>
                        <div ng-switch-when="false">
                            <md-input-container flex-gt-xs class="md-block">
                                <label>{{field.translated_name}}</label>
                                <md-select name="{{field.translated_name}}" ng-model="data[field.name]" ng-disabled="field.disabled" ng-required="field.required">
                                    <md-option ng-repeat="value in field.values" value="{{value._id}}" ng-selected="data[field.name]=='{{value._id}}'">{{value.name}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="check">
                    <md-input-container flex-gt-xs class="md-block">
                        <md-checkbox ng-disabled="field.disabled" name="{{field.translated_name}}" ng-model="data[field.name]">{{field.translated_name}}</md-checkbox>
                    </md-input-container>
                </div>

                <div ng-switch-when="calendar">
                    <div ng-switch="field.disabled">
                        <div ng-switch-when="true">
                            <md-input-container flex-gt-xs class="md-block">
                                <p class="subtitle">{{field.translated_name}}</p>
                                <p class="md-body-1">{{data[field.name]|date:"yyyy-MM-dd"}}</p>
                            </md-input-container>
                        </div>
                        <div ng-switch-when="false">
                            <md-input-container flex-gt-xs class="md-block">
                                <label>{{field.translated_name}}</label>
                                <md-datepicker md-hide-icons="triangle" ng-disabled="field.disabled" ng-required="field.required" name="{{field.translated_name}}" ng-model="data[field.name]"></md-datepicker>
                            </md-input-container>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="email">
                    <div ng-switch="field.disabled">
                        <div ng-switch-when="true">
                            <md-input-container flex-gt-xs class="md-block">
                                <p class="subtitle">{{field.translated_name}}</p>
                                <p class="md-body-1">{{data[field.name]}}</p>
                            </md-input-container>
                        </div>
                        <div ng-switch-when="false">
                            <md-input-container flex-gt-xs class="md-block">
                                <label>{{field.translated_name}}</label>
                                <input ng-disabled="field.disabled" ng-required="field.required" type="email" name="{{field.translated_name}}" ng-model="data[field.name]" md-minlength="field.validation.min_size" ng-minlength="field.validation.min_size" md-maxlength="field.validation.max_size" ng-maxlength="field.validation.max_size" c="/^.+@.+\..+$/" />
                                <div ng-messages="dynamicForm.$field.name.$error" role="alert">
                                    <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                        Your input must be between {{field.validation.min_size}} and {{field.validation.max_size}} characters long and look like an e-mail address.
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div layout="row" layout-align="end" flex>
            <div ng-repeat="action in form.actions">
                <div ng-switch="action.action">
                    <div ng-switch-when="create">
                        <md-button flex-gt-xs ng-disabled="dynamicForm.$invalid" ng-click="create(action.formula, action.next_form_id, action.set_value, data)" class="md-primary">{{action.translated_name}}</md-button>
                    </div>
                    <div ng-switch-when="modify">
                        <md-button flex-gt-xs ng-disabled="dynamicForm.$invalid" ng-click="modify(action.formula, action.next_form_id, action.set_value, data)" class="md-primary">{{action.translated_name}}</md-button>
                    </div>
                    <div ng-switch-when="share">
                        <md-button flex-gt-xs ng-disabled="dynamicForm.$invalid" ng-click="share(action.formula, action.next_form_id, action.set_value, action.constraint, action.email_field_name, action.share_form_id, data)" class="md-primary">{{action.translated_name}}</md-button>
                    </div>
                    <div ng-switch-when="calendar">
                        <md-button flex-gt-xs ng-disabled="dynamicForm.$invalid" ng-click="calendar(action.formula, action.next_form_id, action.set_value, action.project_name_field, action.start_date_field, action.end_date_field, data)" class="md-primary">{{action.translated_name}}</md-button>
                    </div>
                    <div ng-switch-when="delete">
                        <md-button flex-gt-xs ng-click="delete(action.formula, action.next_form_id, data)" class="md-primary">{{action.translated_name}}</md-button>
                    </div>
                    <div ng-switch-when="link">
                        <md-button flex-gt-xs ng-click="link(action.formula, action.next_form_id, data)" class="md-primary">{{action.translated_name}}</md-button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</md-content>
