<md-content layout-padding ng-controller="LoginCtrl">
    <div layout-wrap layout-margin layout-align="center">
        <md-toolbar layout="row" class="md-hue-1">
            <div class="md-toolbar-tools">
                <span>{{sessionData.appData.enter_credentials}}</span>
            </div>
        </md-toolbar>
        <div style="height:20px"></div>
        <form name="loginForm">
            <md-input-container class="md-block" flex-gt-xs>
                <label>{{sessionData.appData.user_name}}</label>
                <input ng-disabled="false" ng-required="true" name="user" ng-model="user" md-minlength="5" md-maxlength="20" ng-minlength="5" ng-maxlength="20">
                <div ng-messages="registerForm.user.$error" role="alert">
                    <div ng-message-exp="['required', 'minlength', 'maxlength']">
                        {{sessionData.appData.user_error}}
                    </div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>{{sessionData.appData.password}}</label>
                <input ng-disabled="false" ng-required="true" name="password" type="password" ng-model="password">
            </md-input-container>
            <md-button flex-gt-xs ng-disabled="loginForm.$invalid" ng-click="login(user, password, code)" class="md-primary">{{sessionData.appData.login}}</md-button>
        </form>
    </div>
</md-content>
