<md-content flex="auto" ng-class="sessionData.userData.properties.theme">
	<div layout="row">
		<div hide-xs flex-sm="10" flex-gt-sm="15"></div>
		<div layout-padding flex class="fade">
			<div layout-wrap layout-margin layout-align="center">
				<md-toolbar layout="row" class="md-hue-1">
					<div class="md-toolbar-tools">
						<span md-colors="{'color': 'primary-50'}">{{sessionData.appData.register}}</span>
					</div>
				</md-toolbar>
				<div style="height:20px"></div>
				<form name="registerForm">
					<md-input-container class="md-block" flex-gt-xs>
						<label>{{sessionData.appData.first_name}}</label>
						<input ng-disabled="false" ng-required="true" name="firstname" ng-model="firstname" md-minlength="1" md-maxlength="100" ng-minlength="1" ng-maxlength="100">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-xs>
						<label>{{sessionData.appData.last_name}}</label>
						<input ng-disabled="false" ng-required="true" name="lastname" ng-model="lastname" md-minlength="1" md-maxlength="100" ng-minlength="1" ng-maxlength="100">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-xs>
						<label>{{sessionData.appData.email}}</label>
						<input ng-disabled="false" ng-required="true" name="email" ng-model="email" md-minlength="5" md-maxlength="200" ng-minlength="5" ng-maxlength="200" ng-pattern="/^.+@.+\..+$/">
						<div ng-messages="registerForm.user.$error" role="alert">
							<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
								{{sessionData.appData.email_error}}
							</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-xs>
						<label>{{sessionData.appData.company_name}}</label>
						<input ng-disabled="false" ng-required="true" name="company_name" ng-model="company_name" md-minlength="1" md-maxlength="100" ng-minlength="1" ng-maxlength="100">
					</md-input-container>
					<md-input-container class="md-block" flex-gt-xs>
						<label>{{sessionData.appData.company_code}}</label>
						<input ng-disabled="false" ng-required="true" name="code" ng-model="code" md-minlength="5" md-maxlength="20" ng-minlength="5" ng-maxlength="20">
						<div ng-messages="registerForm.code.$error" role="alert">
							<div ng-message-exp="['required', 'minlength', 'maxlength']">
								{{sessionData.appData.code_error}}
							</div>
						</div>
					</md-input-container>
					<md-button flex-gt-xs ng-disabled="registerForm.$invalid" ng-click="register(firstname, lastname, email, code, company_name)" class="md-primary">{{sessionData.appData.register}}</md-button>
				</form>
				<a href="#login">
					<p class="subtitle">{{sessionData.appData.already_account}}</p>
				</a>
			</div>
		</div>
		<div hide-xs flex-sm="10" flex-gt-sm="15"></div>
	</div>
</md-content>
