<md-content layout-padding ng-controller="UserCtrl">
    <div layout-wrap layout-margin layout-align="center">
        <md-toolbar layout="row" class="md-hue-1">
            <div class="md-toolbar-tools">
                <span>User settings</span>
            </div>
        </md-toolbar>
        <div style="height:20px"></div>
        <form name="userForm">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Theme</label>
                <md-select name="theme" ng-model="sessionData.userData.properties.theme" ng-disabled="false" ng-required="true">
                    <md-option value="default">Default</md-option>
                    <md-option value="user1">User1</md-option>
                    <md-option value="user2">User2</md-option>
                </md-select>
            </md-input-container>
            <md-button flex-gt-xs ng-disabled="userForm.$invalid" ng-click="saveUserData()" class="md-primary">Save</md-button>
        </form>
    </div>
</md-content>
